.dashboard-grid {
  display: grid;

  grid-template-columns: 2fr 1fr;

  gap: 20px;

  margin-top: 25px;
}

.stats-grid .card {
  min-height: 140px;
}

.chart-card {
  min-height: 190px;
}

canvas{
    width:100% !important;
    height:190px !important;
}