* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f1f5f9;
}

.container {
  display: flex;
  min-height: 100vh;
}

.logo {
  padding: 25px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Sidebar */

.sidebar {
  width: 260px;
  min-height: 100vh;
  background: #1e293b;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 24px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.logo h2 {
  font-size: 22px;
  font-weight: 600;
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar li {
  margin: 6px 12px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 15px;

  text-decoration: none;
  color: #cbd5e1;

  padding: 14px 18px;

  border-radius: 10px;

  transition: 0.25s;
}

.sidebar a:hover {
  background: #334155;
  color: white;
}

.sidebar a.active {
  background: #2563eb;
  color: white;
}

.sidebar i {
  width: 20px;
  text-align: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.page-content {
  padding: 30px;
}
.sidebar a.active {
  background: #2563eb;
  border-left: 4px solid white;
}
.dashboard-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:20px;

}

.card{

    background:#fff;

    border-radius:12px;

    padding:25px;

    box-shadow:0 2px 8px rgba(0,0,0,.08);

}

.card h3{

    color:#64748b;

    font-size:15px;

    margin-bottom:15px;

}

.card h1{

    font-size:38px;

    color:#1e293b;

}