<div class="page-header">

    <div class="page-title">
        <h1>
            <i class="fa-solid fa-pen"></i>
            Edit Station
        </h1>
    </div>

</div>

<%- include("_form", {
    action: "/stations/" + station.id + "/edit",
    station: station
}) %>