<div class="page-header">

    <h1>Edit Department</h1>

    <a href="/departments" class="btn btn-secondary">
        <i class="fa-solid fa-arrow-left"></i>
        Back
    </a>

</div>

<%- include("_form", { action: "/departments/edit/" + department.id, department: department }) %>